.promo__sidepanel {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 142px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0,190,255,1) 0%, rgba(31,191,191,1) 100%);
    border-radius: 3px;
    
    &-divider {
        width: 2px;
        height: 70px;
        background-color: $b-color ;
        transform: rotate(90deg);
    }
    img {
        transform: rotate(90deg);
        color: #fff;
    }
    

}